# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale
.vercel
/.openblock-vm

# Local environment variables and secrets
.env
.env.local
.env.*.local
