@import "../../css/units.css";

.target-pane {
    /* Makes columns for the sprite library selector + and the stage selector */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.stage-selector-wrapper {
    display: flex;
    flex-basis: 72px;
    flex-shrink: 0;
}

[dir="ltr"] .stage-selector-wrapper {
    margin-left: calc($space / 2);
}

[dir="rtl"] .stage-selector-wrapper {
    margin-right: calc($space / 2);
}

@media screen and (orientation: landscape) and (max-height: 520px) and (max-width: 960px) {
    .target-pane {
        min-height: 0;
    }

    .stage-selector-wrapper {
        flex-basis: 3.3rem;
    }

    [dir="ltr"] .stage-selector-wrapper {
        margin-left: 0.2rem;
    }

    [dir="rtl"] .stage-selector-wrapper {
        margin-right: 0.2rem;
    }
}
